
h1,h2,h3,h4,h5{
    font-family: Montserrat-Bold;
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control img, .carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 45%;
    z-index: 5;
    display: inline-block;
    margin: 0px;
}
.carousel-control.right {
    right: 0;
    left: auto;
    width: 90px;
    background-image: none;
    background-repeat: no-repeat;
}
.carousel-control.left {
    right: auto;
    left: 0;
    background-image: none;
    background-repeat: no-repeat;
}

#logo{
    width: 450px;
    background-image: none;
    background-repeat: no-repeat;
    max-width: 40%;
}

#logo-text{
    color: white;
    text-align: center;
    position: absolute;
    top: 45%;
    z-index: 15;
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    left: 0;
    right: 0;
}

#logo-text a{
    color: #ffffff;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    filter: alpha(opacity=50);
    opacity: .5;
}

#head{
    margin: 30px 0px;;
}
#navigation{
    margin-top: 8px;
}
#navigation a{
    color: black;
}
#navigation li{
    margin: 0px 15px;
}
#navigation li:last-child{
    margin-right: 0px;
}
.heading{
    color: black;
    margin-bottom: 20px;
}
.booking > h1,.booking > p{
    color: white;
}

.heading > h1{
    font-family: Montserrat-Bold;
    margin-bottom: 5px;
    font-size: 28px;
}
.heading > p{
    font-family: Arvo-Italic;
}
.no-padding > .col-xs-3{
    padding: 0px;
}

.inner-img{
    position: absolute;
    top: 30%;
    z-index: 15;
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    left: 0;
    right: 0;
}

.inner-img > .fa{
    background-color: #A50188;
    padding: 10px;
    border-radius: 60px;
    color: white;
    left: 0;
    right: 0;
}

.inner-img > div{
    margin-top: 25px;
}
.inner-img > div{
    color: white;
}

.inner-img > div > p:first-child{
    font-size: 18px;
}

section.purple {
    color: white;
    background-color: #A50188;
    padding: 25px 0px;
}

.btn-transparent{
    color: white;
    font-family: Montserrat-Regular;
    padding: 10px 45px;
    border: 1px solid white;
    border-radius: 0px;
}

.btn-transparent:hover{
    color: #A50188;
    background-color: white;
    border: 1px solid white;
    border-radius: 0px;
}

.nav-stacked>li {
    border-bottom: 1px solid black;
}

.nav-stacked>li>a {
    color: black;
    font-family: Arvo-Regular;
}

.nav-stacked>.active {
    background-color: transparent;
    border-radius: 0px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: transparent;
    border-radius: 0px;
    color: #A50188;
    font-family: Arvo-BoldItalic;

}

ul.date > li {
    border-bottom: 1px solid black;
    font-family: Arvo-Regular;
    padding: 10px 15px;
}

.list-social > li{
    width: 50px;
    height: 50px;
    background-color: #A50188;
    padding: 8px;
    padding-top: 12px;
}

.list-social > li > .fa{
    color: white;
}

hr{
    border-bottom: 1px solid black;
}

.btn-black{
    background-color: #1d1f25;
    border: 1px solid #1d1f25;
    color: white;
    font-family: Montserrat-Regular;
    border-radius: 0px;
    padding: 10px 35px;
}

.btn-black:hover{
    background-color: transparent;
    border-collapse: 1px solid #1d1f25;
    color: #1d1f25;
    font-family: Montserrat-Regular;
    border-radius: 0px;
}
#contact, #newsletter{
    background: url(../img/contact_bg.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    color: white;
    font-family: Arvo-Regular;
}

#contact a, #newsletter a{
    color: white;
}

.date{
    padding-right: 10px;
    color: black;
}

.date p:first-child{
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 0px;
    line-height: 75px;
}

.date p:last-child{
    font-size: 14px;
}

.blog-post{
    margin-bottom: 45px;
}

.blog-post > h1 {
    font-size: 24px;
    color: black;
    margin-top: 12px;
}

.blog-post > p {
    color: #8d8d8d;
    font-size: 13px;
    line-height: 22px;
}

.btn-1{
    background-color: #A50188;
    border-radius: 1px;
    color: white;
    border: 1px solid white;
    opacity: 0.8;
    padding: 10px 35px;
}

.btn-1:hover, .btn-1:active, .btn-1:focus{
    background-color: transparent;
    color: white;
}

.about{
    color: #8d8d8d;
    font-size: 13px;
    line-height: 22px;
}

#booking{
    background: url(../img/booking_bg.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    color: white;
    font-family: Arvo-Regular;
}

.heading-white{
    color: white;
}
.heading-white > h1{
    font-family: Montserrat-Bold;
    margin-bottom: 5px;
    font-size: 28px;
}
.heading-white > p{
    font-family: Arvo-Italic;
}

.form-control{
    color: white;
    background-color: transparent;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid white;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 60px;
}

.form-control:focus {
    border-color: #A50188;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-newsletter{
    width: 600px;
    display: inline;
    background-color: transparent;
    border-radius: 0px;
    border: 1px solid white;
    padding: 20px;
    color: white;
}

footer{
    margin: 35px 0px;
    color: black;
}

footer a{
    color: black;
}

footer a:hover{
    color: #A50188;
}

header{
    height: 100px;
}

.header-sticked {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10001;
    background-color: rgba(255,255,255,1) !important;
    width: 100%;
}

.blog-directions a, artist-directions a{
    color: #A50188;
}

.blog-directions a:hover, artist-directions a:hover{
    color: black;
}

.contact2{
    color: black;
}

.contact2 div{
    margin-top: 3px; 
}

.purple{
    color: #A50188;
}

.black{
    color: black;
}

#artist-next-dates a{
    color: black;
}

#artist-next-dates a:hover{
    color: #A50188;
    text-decoration: none;
    font-family: Arvo-BoldItalic;
}
.next-artist{
    color: white;
    text-align: center;
    position: absolute;
    top: 45%;
    z-index: 15;
    display: inline-block;
    margin-left: -45px;
    margin-right: 0px;
    left: 0;
    right: auto;
}
.prev-artist{
    color: white;
    text-align: center;
    position: absolute;
    top: 45%;
    z-index: 15;
    display: inline-block;
    margin-left: 0px;
    margin-right: -45px;
    left: auto;
    right: 0;
}

@media (min-width: 0px){
    .container {
        width: 1300px;
    }
}

@media (min-width: 0px){
    .container-fluid {
        min-width: 1300px;
    }
    .slider{
        min-width: 1300px;
    }
}